<h2>编辑框</h2>
<div class="grid-container">
	<div class="grid-100">

		<div class="box-edit">
			<%=render :partial => 'design/default/form_generator' , :locals => { :component => @component2 } %>
		</div>

	</div>

</div>