<h2>消息框</h2>
<div class="grid-container">
<% (0...3).each do |counter| %>
<div class="grid-33">
<div class="box-msg">
	<div class="box-title">
		<a>Notification Box</a>
	</div>

	<div class="box-content">
		Additional Alert Text <br/>
		Additional Alert Text
		<p>Additional Alert Text</p>
	</div>

</div>
</div>
<% end %>
</div>

<style>
</style>