<h2>用户信息</h2>
<div class="grid-container">
    <div class="grid-33">

            <div class="card hovercard">
                <div class="cardheader">

                </div>
                <div class="avatar">
                    <%=image_tag('avatar/timg-17.jpg')%>
                </div>
                <div class="info">
                    <div class="title">
                        <a target="_blank" href="#">Mot Wu</a>
                    </div>
                    <div class="desc">
                        Do you remember when I said I'd always be there.
                        Ever since we were ten, baby.
                        When we were out on the playground playing pretend.
                        I didn't know it back then.
                        Now I realize you were the only one
                    </div>
                </div>
                <div class="bottom">
                    <a class="btn btn-primary btn-twitter btn-sm" href="#">
                        <i class="fa fa-twitter"></i>
                    </a>
                    <a class="btn btn-danger btn-sm" rel="publisher"
                       href="#">
                        <i class="fa fa-google-plus"></i>
                    </a>
                    <a class="btn btn-primary btn-sm" rel="publisher"
                       href="#">
                        <i class="fa fa-facebook"></i>
                    </a>
                    <a class="btn btn-warning btn-sm" rel="publisher" href="#">
                        <i class="fa fa-behance"></i>
                    </a>
                </div>
            </div>
        </div>
</div>
