<!DOCTYPE html>
<html>
<head>
  <title>婚格 | 让结婚更简单</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <%= stylesheet_link_tag    'cheerup', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'cheerup', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="box-wrap">
		<div  id="main-content">
			<%= yield %>
		</div>
	</div>

</div>


</body>
</html>
